In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
from google.colab import files
upload=files.upload()

Saving Dataset.csv to Dataset (1).csv

In [32]:
dataset=pd.read_csv("Dataset.csv")

In [33]:
dataset.head()

         Day      Date  CodedDay  Zone  Weather  Temperature  Traffic
0  Wednesday  01-06-18         3     2       35           17        2
1  Wednesday  01-06-18         3     3       36           16        3
2  Wednesday  01-06-18         3     4       27           25        5
3  Wednesday  01-06-18         3     5       23           23        3
4  Wednesday  01-06-18         3     6       18           42        2

In [34]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()

In [35]:
dataset['Date']= le.fit_transform(dataset['Date'])

In [36]:
dataset.tail(10)

         Day  Date  CodedDay  Zone  Weather  Temperature  Traffic
1429  Friday     9         5   135       18           25        4
1430  Friday     9         5   136       31            8        2
1431  Friday     9         5   137       13           11        4
1432  Friday     9         5   138       34           15        1
1433  Friday     9         5   139        5           43        4
1434  Friday     9         5   140       47           38        1
1435  Friday     9         5   141       15            8        4
1436  Friday     9         5   142       26           38        1
1437  Friday     9         5   143       16           34        3
1438  Friday     9         5   144       16           17        1

In [37]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1439 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          1439 non-null   object
 1   Date         1439 non-null   int64
 2   CodedDay     1439 non-null   int64
 3   Zone         1439 non-null   int64
 4   Weather      1439 non-null   int64
 5   Temperature  1439 non-null   int64
 6   Traffic      1439 non-null   int64
dtypes: int64(6), object(1)
memory usage: 78.8+ KB

In [38]:
X = dataset.iloc[:, 2:6].values
y = dataset.iloc[:, 6:7].values

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [40]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

In [41]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 300, random_state = 0)
regressor.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor(n_estimators=300, random_state=0)

In [42]:
y_pred = regressor.predict(X_test)

In [43]:
if(y_pred.all()<2.5):
    y_pred=np.round(y_pred-0.5)
else:
    y_pred=np.round(y_pred+0.5)

In [44]:
df1=(y_pred-y_test)/y_test
df1=round(df1.mean()*100,2)
print("Error = ",df1,"%") 
a=100-df1
print("Accuracy= ",a,"%")

Error =  13.42 %
Accuracy=  86.58 %

In [45]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [46]:
y_pred = regressor.predict(X_test)
y_pred

array([2.48568787, 3.83075078, 3.2936518 , 3.1673047 , 2.92523973,
       2.31572795, 2.36996983, 2.19128844, 3.66497598, 2.56215864,
       3.09770455, 3.37561416, 2.86955855, 2.70819912, 2.51284476,
       2.60066084, 2.4309671 , 2.37138504, 3.18637153, 2.83358309,
       3.60021418, 2.48652871, 3.03685709, 2.39762196, 2.497879  ,
       3.11026378, 2.99161215, 3.69680818, 3.09097039, 2.62917555,
       2.84167464, 3.26385761, 2.957667  , 3.15259094, 3.1129895 ,
       2.65382723, 2.64573348, 4.17701652, 3.1214746 , 2.59892333,
       2.54551056, 3.67757031, 2.76428867, 3.82274378, 3.06953225,
       2.93527699, 2.77584091, 2.67888664, 2.3393692 , 3.94660356,
       2.98060755, 3.72745618, 4.06289067, 3.18461613, 2.79760641,
       3.16032156, 2.40107766, 3.05992469, 2.50326614, 3.14948545,
       2.0258538 , 2.39031143, 2.5313014 , 2.06376862, 3.25822173,
       3.8331732 , 2.91792523, 4.16926464, 2.99944268, 2.72893788,
       2.7935679 , 3.48603414, 3.09625424, 3.2274822 , 3.1877698 ,
       3.1412397 , 3.34430832, 2.67296499, 2.60448657, 3.05688571,
       1.89781436, 2.80615316, 3.03905493, 3.21732211, 2.68923666,
       2.68586496, 2.92857837, 3.68705538, 3.5105518 , 2.78635346,
       3.16770217, 2.09719915, 3.14931621, 3.16040971, 2.34756506,
       2.97929857, 2.58705337, 3.40824713, 3.39293322, 3.9374141 ,
       2.37849792, 3.00871069, 2.72592051, 3.18156876, 2.13153741,
       3.01812279, 3.11791498, 2.17607694, 3.1761826 , 2.8550817 ,
       3.16434755, 3.1920135 , 2.83936959, 2.60467229, 3.84780699,
       3.17861604, 2.99417862, 3.28979924, 2.95488478, 2.30669607,
       2.95799886, 2.77125492, 3.52502281, 3.42332299, 3.06387125,
       3.36793637, 3.18167001, 3.10368359, 3.64836723, 2.24413845,
       2.85459664, 3.42208017, 3.15932066, 1.98435782, 4.06736121,
       3.51295149, 3.32246528, 3.70481761, 3.87743913, 3.3851674 ,
       2.7729928 , 3.05428736, 2.68014413, 3.71865779, 3.56637636,
       3.10693693, 2.69362507, 2.90795588, 2.49206221, 2.38230613,
       2.80610236, 2.2751092 , 3.35312855, 3.19958008, 2.85885598,
       2.81472787, 2.97602789, 2.24323176, 3.53810023, 2.57869998,
       2.54667703, 2.7750127 , 2.93120167, 2.02760259, 3.13390563,
       3.0352923 , 2.46270591, 2.86611534, 3.01681107, 3.25683056,
       3.33614346, 3.29854881, 3.0633859 , 3.03701775, 3.13264911,
       3.27237022, 1.99578218, 2.96019533, 3.07517058, 2.75037391,
       2.69742165, 3.05560167, 2.7811108 , 3.29256002, 3.09761597,
       2.94515573, 3.67508548, 2.79910461, 2.68429918, 2.35135477,
       1.78037451, 2.06058057, 2.78031096, 2.96887932, 2.45162779,
       2.34716929, 2.60769396, 3.32031932, 2.83096498, 3.96318253,
       1.95025452, 2.96047266, 2.60408857, 3.01211478, 2.76417688,
       3.12770243, 2.8292839 , 3.48226775, 2.66415284, 3.60667452,
       3.22824346, 1.98119445, 3.04303888, 2.61650804, 3.09453429,
       3.77630571, 3.30109344, 3.12562853, 3.08593669, 3.42617757,
       3.40788194, 3.81374563, 2.0364313 , 2.90612445, 2.9860682 ,
       2.4440315 , 2.84854671, 3.02571857, 3.0058111 , 3.36237316,
       2.92237107, 2.8212406 , 2.68600375, 3.06650889, 2.71026894,
       2.48229778, 2.78905095, 3.05137147, 2.30409362, 3.14095599,
       1.9830805 , 3.31410349, 2.8334792 , 3.41044366, 3.71151193,
       2.94174763, 2.53802189, 3.32556579, 2.59622144, 2.7976202 ,
       3.16463529, 2.89358632, 3.666639  , 2.59841178, 3.10452024,
       3.96164453, 2.62040129, 3.54119895, 3.26069901, 2.27431143,
       2.36339918, 2.48121324, 3.17323898, 2.35699081, 3.76301981,
       3.24130716, 2.5939703 , 2.64012962, 3.26218151, 3.40286614,
       3.51389568, 3.20716058, 3.20192922, 2.69489033, 3.37639684,
       2.83542016, 3.69721289, 2.76678089, 3.25447156, 3.3156072 ,
       2.82490969, 3.33686767, 3.06560594, 2.67029599, 2.39938476,
       3.33374851, 3.31654043, 3.1761943 ])

In [47]:
if(y_pred.all()<2.5):
    y_pred=np.round(y_pred-0.5)
    
else:
    y_pred=np.round(y_pred+0.5)

y_pred

array([2., 3., 3., 3., 2., 2., 2., 2., 3., 2., 3., 3., 2., 2., 2., 2., 2.,
       2., 3., 2., 3., 2., 3., 2., 2., 3., 2., 3., 3., 2., 2., 3., 2., 3.,
       3., 2., 2., 4., 3., 2., 2., 3., 2., 3., 3., 2., 2., 2., 2., 3., 2.,
       3., 4., 3., 2., 3., 2., 3., 2., 3., 2., 2., 2., 2., 3., 3., 2., 4.,
       2., 2., 2., 3., 3., 3., 3., 3., 3., 2., 2., 3., 1., 2., 3., 3., 2.,
       2., 2., 3., 3., 2., 3., 2., 3., 3., 2., 2., 2., 3., 3., 3., 2., 3.,
       2., 3., 2., 3., 3., 2., 3., 2., 3., 3., 2., 2., 3., 3., 2., 3., 2.,
       2., 2., 2., 3., 3., 3., 3., 3., 3., 3., 2., 2., 3., 3., 1., 4., 3.,
       3., 3., 3., 3., 2., 3., 2., 3., 3., 3., 2., 2., 2., 2., 2., 2., 3.,
       3., 2., 2., 2., 2., 3., 2., 2., 2., 2., 2., 3., 3., 2., 2., 3., 3.,
       3., 3., 3., 3., 3., 3., 1., 2., 3., 2., 2., 3., 2., 3., 3., 2., 3.,
       2., 2., 2., 1., 2., 2., 2., 2., 2., 2., 3., 2., 3., 1., 2., 2., 3.,
       2., 3., 2., 3., 2., 3., 3., 1., 3., 2., 3., 3., 3., 3., 3., 3., 3.,
       3., 2., 2., 2., 2., 2., 3., 3., 3., 2., 2., 2., 3., 2., 2., 2., 3.,
       2., 3., 1., 3., 2., 3., 3., 2., 2., 3., 2., 2., 3., 2., 3., 2., 3.,
       3., 2., 3., 3., 2., 2., 2., 3., 2., 3., 3., 2., 2., 3., 3., 3., 3.,
       3., 2., 3., 2., 3., 2., 3., 3., 2., 3., 3., 2., 2., 3., 3., 3.])

In [48]:
df1=(y_pred-y_test)/y_test
df1=round(df1.mean()*100,2)
print("Error = ",df1,"%")

Error =  12.16 %

In [49]:
a=100-df1
print("Accuracy= ",a,"%")

Accuracy=  87.84 %

In [50]:
print("Error = ",df1,"%")
print("Accuracy= ",a,"%")

Error =  12.16 %
Accuracy=  87.84 %